<div id="missions">
	<div class="actions">
		<button (click)="findIsolatedCountries()">Find Most Isolated</button>

		<div class="location">
			<app-google-places (placeChanged)="markClosest( $event )"></app-google-places>
		</div>
	</div>

	<div id="isolated-countries">
		<ul>
			<li *ngFor="let country of isolatedCountries">Country: {{ country.country }} | Isolated
				Agents: {{ country.isolated_agents }} </li>
		</ul>
	</div>

	<div id="missions-table">
		<div class="row">
			<div class="cell">Agent ID</div>
			<div class="cell">Country</div>
			<div class="cell">Address</div>
			<div class="cell">Datetime</div>
		</div>

		<div class="row" *ngFor="let mission of missions"
		     [ngClass]="{ closest: mission.id === closestAndFarthestLocations.closest.id, farthest: mission.id === closestAndFarthestLocations.farthest.id }">
			<div class="cell">{{ mission.agent_name }}</div>
			<div class="cell">{{ mission.country }}</div>
			<div class="cell">{{ mission.address }}</div>
			<div class="cell">{{ mission.datetime | date: 'MMM d, y, h:mm:ss a' }}</div>
		</div>

		<div class="row footer">
			<div class="cell">{{ missions.length }} Missions</div>
		</div>
	</div>
</div>
