#missions {
	width: 1000px;
	margin: 0 auto;
	margin-top: 10rem;

	.actions {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		button {
			background-color: #007bff;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			user-select: none;
			padding: .375rem .75rem;
			font-size: .75rem;
			line-height: 1.5;
			border-radius: .25rem;
			border: none;
			outline: none;
			transition: .5s background;

			&:hover {
				background: #0069d9;
			}
		}

		app-google-places::ng-deep input {
			display: block;
			width: 200px;
			padding: .375rem .75rem;
			font-size: .75rem;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: .25rem;
			margin-right: 10px;
		}

		.location {
			display: flex;
		}
	}

	#missions-table {
		display: flex;
		flex-direction: column;
		border: 1px solid #ccc;
		border-radius: 10px;
		color: #565656;

		.row {
			display: flex;
			min-height: 40px;

			&.closest {
				color: green;
			}

			&.farthest {
				color: red;
			}

			&:first-child .cell, &.footer {
				display: flex;
				align-items: center;
				background: none;
				font-weight: bold;
			}

			&:first-child {
				border-bottom: 1px solid #ccc;
			}

			&.footer {
				border-top: 1px solid #ccc;

				.cell {
					background: none;
					justify-content: flex-end;
				}
			}

			&:last-of-type .cell {
				border: none;
			}

			.cell {
				padding: 10px 20px;
				box-sizing: border-box;
				flex: 4;
				display: flex;
				align-items: center;
				border-bottom: 1px solid #ccc;
				background: #fff;

				&:nth-child(1) {
					flex: 2;
				}

				&:nth-child(2) {
					flex: 2;
				}

				&:nth-child(3) {
					flex: 8 24px;
				}
			}
		}
	}
}

